.login{
    background-color: var(--cor-principal);
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-titulo{
    font-size: 8rem;
    width: 40%;
    margin: 4rem;
    color: var(--cor-fonte-principal);
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 4rem;
    padding: 3rem;
    gap: 0.5rem;
    border: 3px solid var(--cor-fonte-principal);
    border-radius: 16px;
}

.login-form-titulo{
    text-align: start;
    font-size: 3rem;
    color: var(--cor-fonte-principal);
}

.login-label {
    font-size: 1.2rem;
    color: var(--cor-fonte-escura);
}

.login-input{
    height: 1.3rem;
    font-size: 1.1rem;
}

.login-btn{
    height: 4vh;
    width: 10vw;
    font-size: 1.2rem;
    background-color: transparent;
    border: solid 2px var(--cor-fonte-principal);
}

.login-btn:hover{
    background-color: var(--cor-botao);
    cursor: pointer;
}

.login-form-texto{
   padding-top: 2rem;
   color: var(--cor-fonte-escura);
}

.login-link{
    text-decoration: none;
    color: var(--cor-fonte-principal);
}